.main-header{
  height:400px; 
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(248, 183, 2);
  background-image: url("/images/asfalt-light.png");
}
img{
  height: 200px; 
}
#username {
  height: 50px;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
h2{
  margin-top: 0px;
  margin-bottom: 0.1em;
}
